// Colors
$black-01: #1C1C1C;;
$light-gray: #E2E2E2;
$gray-01: #5D666F;
$gray-02: #4A5259;
$dark-blue-01: #00294A;
$dark-blue-02: #00345E;
$white-01: #F4F5F7;

// Font
$primary-font: "Poppins", sans-serif;

// Fonts Weight
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
$font-black: 700;
