.home {
    @include container();

    .title {
        @include textStyles($dark-blue-01, 42px, $font-black);
        margin-bottom: 20px;
    }

    .pageLink {
        text-decoration: none;

        .pageName {
            @include textStyles($black-01, 26px, $font-bold);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}